


<a style = "text-decoration:none;"
 href = "https://www.youtube.com/@fisherankney"
 target="_blank">
 Youtube
</a>

<a style = "text-decoration:none;" 
href = "https://substack.com/@fisherankney"
target="_blank">
Substack
</a> 


<a style = "text-decoration:none;" 
class="category-link {% if page.title == 'Blog Posts' or page.top_tags %} active{% endif %}" 
href = "{{site.baseurl}}/journal/">
Sportsman's Journal
</a> 


<a style = "text-decoration:none;" 
class="category-link {% if page.title == 'Blog Posts' or page.top_tags %} active{% endif %}" 
href = "{{site.baseurl}}/bookshelf/">
The Bookshelf
</a> 


<a style = "text-decoration:none;" 
class="category-link {% if page.title == 'Blog Posts' or page.top_tags %} active{% endif %}" 
href = "{{site.baseurl}}/about/">
About
</a> 
