<a style="text-decoration:none;" 
class="{% if page.url == '/journal/' %}active{% endif %}"
href="{{site.baseurl}}/journal/">
Outdoor Journal
</a>

<a style="text-decoration:none;" 
class="{% if page.url == '/bookshelf/' %}active{% endif %}"
href="{{site.baseurl}}/bookshelf/">
The Bookshelf
</a>

<a style="text-decoration:none;" 
class="{% if page.title == 'About' %}active{% endif %}"
href="{{site.baseurl}}/about/">
About
</a>

<a class="contact-button {% if page.url == '/contact/' %}active{% endif %}" 
style="text-decoration:none;" 
href="{{site.baseurl}}/contact/">
Contact Me
</a>
