<a class="nav-link {% if page.url contains 'journal' %}active{% endif %}"
href="{{site.baseurl}}/journal/">
Outdoor Journal
</a>

<a class="nav-link {% if page.url contains 'bookshelf' %}active{% endif %}"
href="{{site.baseurl}}/bookshelf/">
The Bookshelf
</a>

<a class="nav-link {% if page.url contains 'about' %}active{% endif %}"
href="{{site.baseurl}}/about/">
About
</a>

<a class="contact-button {% if page.url contains 'contact' %}active{% endif %}" 
href="{{site.baseurl}}/contact/">
Contact Me
</a>
